@{
    Layout = null;
}
这是Access Token:
@ViewBag.token
<br/>
<a href="/home/getresource?accesstoken=@ViewBag.accesstoken">从resource server获取数据</a>
<a href="/home/refresh?refreshtoken=@ViewBag.refreshToken">用Refresh Token 获取 Access Token</a>